@import '../../../node_modules/semantic-ui-css/semantic.min.css';
@import './fonts.css';
.btn {
  font-size: 16px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Circular-Book';
  padding: 5px 15px;
}

.btn-info {
  border: 1px solid #3a8fdd;
  color: #3a8fdd;
}

.btn-info:hover {
  background: #3a8fdd;
  color: #eee;
}

.ui.secondary.pointing.menu .item {
    padding: 0.78571429em 0.92857143em;
}

.react-tabs>ul {
  padding-left: 0px;
  display: flex;
}

.react-tabs__tab--selected {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #1b1c1d !important;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.95) !important;
}

.w-100 {
    width: 100% !important;
}

p {
    margin-bottom: 14px;
}

textarea {
    color: #444;
    padding: 5px;
}

.txtstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
    width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}

@media only screen and (max-width: 767px) {
  nav .ui.container {
      width: 100%!important;
  }
}

@media screen and (max-width: 768px) {
  .title-article {
      width: 75%;
  }
}

/* Editor format */
.medium-editor-placeholder:after {
  font-style: inherit;
  margin: 0;
}

.medium-insert-buttons {
  opacity: 0.7;
}
