@import '../../../node_modules/semantic-ui-css/semantic.min.css';
@import './fonts.css';

* {
    font-family: 'Circular-Light';
}

.btn {
  font-size: 16px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Circular-Book';
  padding: 5px 15px;
}

.btn-info {
  border: 1px solid #3a8fdd;
  color: #3a8fdd;
}

.btn-info:hover {
  background: #3a8fdd;
  color: #eee;
}

.ui.secondary.pointing.menu .item {
    padding: 0.78571429em 0.92857143em;
}

.react-tabs>ul {
  padding-left: 0px;
  display: flex;
}

.react-tabs__tab--selected {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #1b1c1d !important;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.95) !important;
}

.w-100 {
    width: 100% !important;
}

p {
    margin-bottom: 2rem;
}

textarea {
    color: #444;
    padding: 5px;
}

.txtstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
    width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}

@media only screen and (max-width: 767px) {
  nav .ui.container {
      width: 100%!important;
  }
}

@media screen and (max-width: 768px) {
  .title-article {
      width: 75%;
  }
}

e
/* Editor format */
.medium-editor-placeholder:after {
  font-style: inherit;
  margin: 0;
}

.medium-insert-buttons {
  opacity: 0.7;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show span {
  display: block;
  margin-top: 3px !important;
}

.medium-editor-placeholder:after {
    font-style: normal !important;
}

.medium-editor-element p {
  font-size: 16px !important;
}

/* For Tags Input */
.textarea {
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

.taggle_list {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

.taggle_input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.taggle_list li {
    float: left;
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 5px;
}

.taggle_list .taggle {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    font-size: 1.1rem;
    position: absolute;
    top: 10px;
    right: 3px;
    text-decoration: none;
    padding: 0;
    line-height: 0.5;
    color: #ccc;
    color: rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.taggle_list .taggle:hover {
    padding: 5px;
    padding-right: 15px;
    background: #ccc;
    transition: all .3s;
}

.taggle_list .taggle:hover > .close {
    display: block;
}

.taggle_list .taggle .close:hover {
    color: #990033;
}

.taggle_placeholder {
    color: #CCC;
    top: 12px;
    left: 8px;
    transition: opacity, .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taggle_input {
    padding: 8px;
    padding-left: 0;
    float: left;
    margin-top: -5px;
    background: none;
    width: 100%;
    max-width: 100%;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}

input.taggle_input {
  font-family: 'Circular-Book';
}

#tags {
  width: 100%;
}

.textarea.input {
  border: 0;
  background: #FDFDFD;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7); */
  height: auto;
  padding: 8px;
  border-radius: 3px;
  color: #555;
  transition: all .25s;
  cursor: text;
  margin-bottom: 2em;
  position: relative;
}

/* // Checkbox */
.ui.slider.checkbox input:checked~.box:before,
.ui.slider.checkbox input:checked~label:before {
  background-color: #539ce2 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ label:before {
  background-color: #539ce2 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ label:before
{
  background-color: #539ce2 !important;
}

.ui.slider.checkbox input:checked~.box,
.ui.slider.checkbox input:checked~label
{
  color: #539ce2 !important;
}

.button-save {
  background: black !important;
  color: whitesmoke !important;
  font-size: 16px !important;
  transition: all 0.5s linear !important;
}

.button-publish {
  background: #539ce2 !important;
  color: whitesmoke !important;
  font-size: 16px !important;
  transition: all 0.5s linear !important;
}

.text-error {
  border: 1px solid red;
  color: red;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  background: #db282812;
}


.text-success {
  border: 1px solid green;
  color: green;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  background: #00800014;
}

.text-error>p, .text-success>p {
  font-family: Circular-Book;
}

.avatar {
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;
}

.u-flex0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.u-flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.u-paddingLeft15 {
  padding-left: 15px!important;
}

.u-overflowHidden {
  overflow: hidden!important;
}

.align-c {
  align-items: center !important;
}

.tags li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

.tags a {
  color: inherit;
  font-family: 'Circular-Book';
}

.tags .tag {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-17 15:33:4
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-17 15:45:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
.btn-dropdown-color {
  color: #686868
}

.normal-bk:hover {
  background: #4183c4 !important;
}

.red-bk:hover {
  background: red !important;
}

.at-enter-anim {
  animation-name: key-enter-custom;
  animation-duration: 2s; /* or: Xms */
  animation-iteration-count: 10;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
  animation-delay: 2s;
}

@keyframes key-enter-custom {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
