  .color-aliceblue {
    background: #f0f8ff !important;
  }
  .color-antiquewhite {
    background: #faebd7 !important;
  }
  .color-aqua {
    background: #00ffff !important;
    color: darkgrey !important;
  }
  .color-aquamarine {
    background: #7fffd4 !important;
  }
  .color-azure {
    background: #f0ffff !important;
  }
  .color-beige {
    background: #f5f5dc !important;
  }
  .color-bisque {
    background: #ffe4c4 !important;
  }
  .color-black {
    background: #000000 !important;
    color: #f0f8ff !important;
  }
  .color-blanchedalmond {
    background: #ffebcd !important;
  }
  .color-blue {
    background: #0000ff !important;
    color: whitesmoke !important;
  }
  .color-blueviolet {
    background: #8a2be2 !important;
    color: whitesmoke !important;
  }
  .color-brown {
    background: #a52a2a !important;
    background: #f0f8ff !important;
  }
  .color-burlywood {
    background: #deb887 !important;
    background: #f0f8ff !important;
  }
  .color-cadetblue {
    background: #5f9ea0 !important;
    color: whitesmoke !important;
  }
  .color-chartreuse {
    background: #7fff00 !important;
  }
  .color-chocolate {
    background: #d2691e !important;
    background: #f0f8ff !important;
  }
  .color-coral {
    background: #ff7f50 !important;
    background: #f0f8ff !important;
  }
  .color-cornflowerblue {
    background: #6495ed !important;
    color: whitesmoke !important;
  }
  .color-cornsilk {
    background: #fff8dc !important;
  }
  .color-crimson {
    background: #dc143c !important;
    background: #f0f8ff !important;
  }
  .color-cyan {
    background: #00ffff !important;
    color: whitesmoke !important;
  }
  .color-darkblue {
    background: #00008b !important;
  }
  .color-darkcyan {
    background: #008b8b !important;
    color: whitesmoke !important;
  }
  .color-darkgoldenrod {
    background: #b8860b !important;
    background: #f0f8ff !important;
  }
  .color-darkgray {
    background: #a9a9a9 !important;
    background: #f0f8ff !important;
  }
  .color-darkgreen {
    background: #006400 !important;
    color: whitesmoke !important;
  }
  .color-darkgrey {
    background: #a9a9a9 !important;
    background: #f0f8ff !important;
  }
  .color-darkkhaki {
    background: #bdb76b !important;
    background: #f0f8ff !important;
  }
  .color-darkmagenta {
    background: #8b008b !important;
    color: whitesmoke !important;
  }
  .color-darkolivegreen {
    background: #556b2f !important;
    color: whitesmoke !important;
  }
  .color-darkorange {
    background: #ff8c00 !important;
    background: #f0f8ff !important;
  }
  .color-darkorchid {
    background: #9932cc !important;
    background: #f0f8ff !important;
  }
  .color-darkred {
    background: #8b0000 !important;
    color: whitesmoke !important;
  }
  .color-darksalmon {
    background: #e9967a !important;
    background: #f0f8ff !important;
  }
  .color-darkseagreen {
    background: #8fbc8f !important;
    background: #f0f8ff !important;
  }
  .color-darkslateblue {
    background: #483d8b !important;
    color: whitesmoke !important;
  }
  .color-darkslategray {
    background: #2f4f4f !important;
    color: whitesmoke !important;
  }
  .color-darkslategrey {
    background: #2f4f4f !important;
    color: whitesmoke !important;
  }
  .color-darkturquoise {
    background: #00ced1 !important;
    color: whitesmoke !important;
  }
  .color-darkviolet {
    background: #9400d3 !important;
    color: whitesmoke !important;
  }
  .color-deeppink {
    background: #ff1493 !important;
    background: #f0f8ff !important;
  }
  .color-deepskyblue {
    background: #00bfff !important;
    color: whitesmoke !important;
  }
  .color-dimgray {
    background: #696969 !important;
    color: whitesmoke !important;
  }
  .color-dimgrey {
    background: #696969 !important;
  }
  .color-dodgerblue {
    background: #1e90ff !important;
    color: whitesmoke !important;
  }
  .color-firebrick {
    background: #b22222 !important;
    color: whitesmoke !important;
  }
  .color-floralwhite {
    background: #fffaf0 !important;
  }
  .color-forestgreen {
    background: #228b22 !important;
    color: whitesmoke !important;
  }
  .color-fuchsia {
    background: #ff00ff !important;
    color: whitesmoke !important;
  }
  .color-gainsboro {
    background: #dcdcdc !important;
  }
  .color-ghostwhite {
    background: #f8f8ff !important;
  }
  .color-goldenrod {
    background: #daa520 !important;
    color: whitesmoke !important;
  }
  .color-gold {
    background: #ffd700 !important;
    color: whitesmoke !important;
  }
  .color-gray {
    background: #808080 !important;
    color: whitesmoke !important;
  }
  .color-green {
    background: #008000 !important;
    color: whitesmoke !important;
  }
  .color-greenyellow {
    background: #adff2f !important;
  }
  .color-grey {
    background: #808080 !important;
    color: whitesmoke !important;
  }
  .color-honeydew {
    background: #f0fff0 !important;
  }
  .color-hotpink {
    background: #ff69b4 !important;
    color: whitesmoke !important;
  }
  .color-indianred {
    background: #cd5c5c !important;
    color: whitesmoke !important;
  }
  .color-indigo {
    background: #4b0082 !important;
    color: whitesmoke !important;
  }
  .color-ivory {
    background: #fffff0 !important;
  }
  .color-khaki {
    background: #f0e68c !important;
  }
  .color-lavenderblush {
    background: #fff0f5 !important;
  }
  .color-lavender {
    background: #e6e6fa !important;
  }
  .color-lawngreen {
    background: #7cfc00 !important;
    color: darkgreen !important;
  }
  .color-lemonchiffon {
    background: #fffacd !important;
  }
  .color-lightblue {
    background: #add8e6 !important;
    color: whitesmoke !important;
  }
  .color-lightcoral {
    background: #f08080 !important;
    color: whitesmoke !important;
  }
  .color-lightcyan {
    background: #e0ffff !important;
    color: whitesmoke !important;
  }
  .color-lightgoldenrodyellow {
    background: #fafad2 !important;
    color: whitesmoke !important;
  }
  .color-lightgray {
    background: #d3d3d3 !important;
    color: whitesmoke !important;
  }
  .color-lightgreen {
    background: #90ee90 !important;
    color: whitesmoke !important;
  }
  .color-lightgrey {
    background: #d3d3d3 !important;
  }
  .color-lightpink {
    background: #ffb6c1 !important;
    color: whitesmoke !important;
  }
  .color-lightsalmon {
    background: #ffa07a !important;
    color: whitesmoke !important;
  }
  .color-lightseagreen {
    background: #20b2aa !important;
    color: whitesmoke !important;
  }
  .color-lightskyblue {
    background: #87cefa !important;
    color: whitesmoke !important;
  }
  .color-lightslategray {
    background: #778899 !important;
    color: whitesmoke !important;
  }
  .color-lightslategrey {
    background: #778899 !important;
    color: whitesmoke !important;
  }
  .color-lightsteelblue {
    background: #b0c4de !important;
    color: whitesmoke !important;
  }
  .color-lightyellow {
    background: #ffffe0 !important;
    color: whitesmoke !important;
  }
  .color-lime {
    background: #00ff00 !important;
    color: darkgreen !important;
  }
  .color-limegreen {
    background: #32cd32 !important;
    color: darkgreen !important;
    color: whitesmoke !important;
  }
  .color-linen {
    background: #faf0e6 !important;
    color: whitesmoke !important;
  }
  .color-magenta {
    background: #ff00ff !important;
    color: whitesmoke !important;
  }
  .color-maroon {
    background: #800000 !important;
    color: whitesmoke !important;
  }
  .color-mediumaquamarine {
    background: #66cdaa !important;
    color: whitesmoke !important;
  }
  .color-mediumblue {
    background: #0000cd !important;
    color: whitesmoke !important;
  }
  .color-mediumorchid {
    background: #ba55d3 !important;
    color: whitesmoke !important;
  }
  .color-mediumpurple {
    background: #9370db !important;
    color: whitesmoke !important;
  }
  .color-mediumseagreen {
    background: #3cb371 !important;
    color: whitesmoke !important;
  }
  .color-mediumslateblue {
    background: #7b68ee !important;
    color: whitesmoke !important;
  }
  .color-mediumspringgreen {
    background: #00fa9a !important;
    color: whitesmoke !important;
  }
  .color-mediumturquoise {
    background: #48d1cc !important;
    color: whitesmoke !important;
  }
  .color-mediumvioletred {
    background: #c71585 !important;
    color: whitesmoke !important;
  }
  .color-midnightblue {
    background: #191970 !important;
    color: whitesmoke !important;
  }
  .color-mintcream {
    background: #f5fffa !important;
  }
  .color-mistyrose {
    background: #ffe4e1 !important;
    color: darkgrey !important;
  }
  .color-moccasin {
    background: #ffe4b5 !important;
    color: whitesmoke !important;
  }
  .color-navajowhite {
    background: #ffdead !important;
    color: whitesmoke !important;
  }
  .color-navy {
    background: #000080 !important;
    color: whitesmoke !important;
  }
  .color-oldlace {
    background: #fdf5e6 !important;
    color: darkorange !important;
  }
  .color-olive {
    background: #808000 !important;
    color: whitesmoke !important;
  }
  .color-olivedrab {
    background: #6b8e23 !important;
    color: whitesmoke !important;
  }
  .color-orange {
    background: #ffa500 !important;
    color: whitesmoke !important;
  }
  .color-orangered {
    background: #ff4500 !important;
    color: whitesmoke !important;
  }
  .color-orchid {
    background: #da70d6 !important;
    color: whitesmoke !important;
  }
  .color-palegoldenrod {
    background: #eee8aa !important;
    color: whitesmoke !important;
  }
  .color-palegreen {
    background: #98fb98 !important;
    color: darkolivegreen !important;
  }
  .color-paleturquoise {
    background: #afeeee !important;
    color: whitesmoke !important;
  }
  .color-palevioletred {
    background: #db7093 !important;
    color: whitesmoke !important;
  }
  .color-papayawhip {
    background: #ffefd5 !important;
  }
  .color-peachpuff {
    background: #ffdab9 !important;
  }
  .color-peru {
    background: #cd853f !important;
    color: whitesmoke !important;
  }
  .color-pink {
    background: #ffc0cb !important;
    color: whitesmoke !important;
  }
  .color-plum {
    background: #dda0dd !important;
    color: whitesmoke !important;
  }
  .color-powderblue {
    background: #b0e0e6 !important;
    color: whitesmoke !important;
  }
  .color-purple {
    background: #800080 !important;
    color: whitesmoke !important;
  }
  .color-rebeccapurple {
    background: #663399 !important;
    color: whitesmoke !important;
  }
  .color-red {
    background: #ff0000 !important;
    color: whitesmoke !important;
  }
  .color-rosybrown {
    background: #bc8f8f !important;
    color: whitesmoke !important;
  }
  .color-royalblue {
    background: #4169e1 !important;
    color: whitesmoke !important;
  }
  .color-saddlebrown {
    background: #8b4513 !important;
    color: whitesmoke !important;
  }
  .color-salmon {
    background: #fa8072 !important;
    color: whitesmoke !important;
  }
  .color-sandybrown {
    background: #f4a460 !important;
    color: whitesmoke !important;
  }
  .color-seagreen {
    background: #2e8b57 !important;
    color: whitesmoke !important;
  }
  .color-seashell {
    background: #fff5ee !important;
  }
  .color-sienna {
    background: #a0522d !important;
    color: whitesmoke !important;
  }
  .color-silver {
    background: #c0c0c0 !important;
    color: whitesmoke !important;
  }
  .color-skyblue {
    background: #87ceeb !important;
  }
  .color-slateblue {
    background: #6a5acd !important;
    color: whitesmoke !important;
  }
  .color-slategray {
    background: #708090 !important;
    color: whitesmoke !important;
  }
  .color-slategrey {
    background: #708090 !important;
    color: whitesmoke !important;
  }
  .color-snow {
    background: #fffafa !important;
  }
  .color-springgreen {
    background: #00ff7f !important;
    color: whitesmoke !important;
  }
  .color-steelblue {
    background: #4682b4 !important;
    color: whitesmoke !important;
  }
  .color-tan {
    background: #d2b48c !important;
    color: whitesmoke !important;
  }
  .color-teal {
    background: #008080 !important;
    color: whitesmoke !important;
  }
  .color-thistle {
    background: #d8bfd8 !important;
  }
  .color-tomato {
    background: #ff6347 !important;
    color: whitesmoke !important;
  }
  .color-turquoise {
    background: #40e0d0 !important;
    color: whitesmoke !important;
  }
  .color-violet {
    background: #ee82ee !important;
    color: whitesmoke !important;
  }
  .color-wheat {
    background: #f5deb3 !important;
  }
  .color-white {
    background: #ffffff !important;
  }
  .color-whitesmoke {
    background: #f5f5f5 !important;
  }
  .color-yellow {
    background: #ffff00 !important;
  }
  .color-yellowgreen {
    background: #9acd32 !important;
  }