// SCSS Is only used to style a quick prototype of the app

html {
  body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 1%;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  .jumbotron-nav__link {
    color: white;
  }

  .my-input {
    width: 300px;
  }
}